html,
head {
  margin: 0;
  padding: 0;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family: 'Roboto', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/** For the Blob Background */
@keyframes rotate {
  to {
    transform: rotate(360deg) translate(-50%, -50%) scale(var(--scale, 1));
  }
}
